body{
    background: url(download.png);
    background-size: cover;
}
a{
    color: rgb(97, 125, 218);
    font-family: Tahoma, Geneva,sans-serif;
    margin-left: 30px;
}
.cong{
    background: rgba(126, 189, 111, 0.7);
    padding: 40px;
    height: 200px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;
}   

h2{
    margin-top: 50px;
    margin-left: 10px;
}